
.container {
    width: 100% ;
    height: 100%;
    position: relative;
}



.tags {
    color: var(--glow-color);
    opacity: 0.6;
    position: relative;
    bottom: 0;
    left: 120px;
    font-size: calc(.52 * (1.5vh + 4.1vw));
    font-family: 'La Belle Aurore';
  animation: text-flicker 5s linear infinite;
}

.top-tag {
  bottom: auto;
  top: 5px;
  right: 100px;
}

.second-top {
  bottom: auto;
  top: 10px;
  left: 150px;
}


.bottom-tags {
  position: relative;
  left: 150px;
}

.bottom-tag-html {
  top: 10px;
  margin-left: 0px;
}



:root {
  --glow-color:  #71C2FF;
}





